<div class="navbar-fixed">
  <nav class="color white">
    <div class="nav-wrapper container">
      <a ui-sref="home" class="black-text darken-4 brand-logo">Logo</a>
      <ul class="right hide-on-med-and-down">
        <li>
          <a class="black-text darken-4" ui-sref="home">Home</a>
        </li>
        <li>
          <a class="black-text darken-4" ui-sref="leisures">Leisure</a>
        </li>
        <li>
          <a class="black-text darken-4" ui-sref="youtubes">Youtube</a>
        </li>
        <li>
          <a class="black-text darken-4" ui-sref="jobs">Jobs</a>
        </li>
        <li>
          <a class="black-text darken-4" ui-sref="questionAndAnswers">Question Answers</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
